*.a
*.la
*.lo
*.o
*.pc
*.pc.src
*.src
*~
.deps
.libs
.*.sw?
/libdmx/app/dmx
/libdmx/app/dmxfind
/libdmx/src/dmx-head.h
/libdmx/test/test
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
version-num
version.h
version.sed
